<tr>
	<td><%=drug.generic_name %></td>
	<td><%=drug.form %></td>
	<td><%=drug.conditions %></td>
	<td><%=drug.thirty_day_price %></td>
	<td><%=drug.thirty_day_quantity %></td>
	<td><%=drug.ninety_day_price %></td>
	<td><%=drug.ninety_day_quantity %></td>
</tr>